body{
    background: white;
    margin-top: 0px;
}
header h1{
    background: white;
    border: darkgray;
    padding: 10px;
    }
div.post{
    background: white;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 10px;
}
div.container{
    width: 280px;
    margin: auto;
}
